main {
    margin: 3rem auto;
    max-width: 90vw;
    
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
  
  #title-page,  #score-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


