main {
    margin: 3rem auto;
    max-width: 90vw;
    width: 50ch;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
  
  #title-page, #questions, #score-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



